In [33]:
# import necessary libraries
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [34]:
df = pd.read_csv(r"D:\langchain-tutorial\Gen AI Projects\LLM for Finance\notebook\sample_text.csv")
df.shape

(8, 2)

In [35]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [36]:
from sentence_transformers import SentenceTransformer

In [37]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text) #convert the text column into vectors

In [38]:
vectors.shape # 8 vectors and size of each vector is 768.

(8, 768)

In [39]:
dim = vectors.shape[1]
dim

768

In [40]:
import faiss

index = faiss.IndexFlatL2(dim) # uses L2 distance/ Euclidean Distance. creating index

In [41]:
index.add(vectors)

In [42]:
index

In [43]:
# search_query = "I want to buy a polo t-shirt"
search_query = "looking for places to visit during the holidays"
# search_query = "An apple a day keeps the doctor away"
vec = encoder.encode(search_query) #encoding the query into vector
vec.shape # single array with 786 vector size

(768,)

In [44]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape # converting single array into 2D array

(1, 768)

In [45]:
distances, I = index.search(svec, k=2)
distances

array([[0.9273728, 1.1601745]], dtype=float32)

In [46]:
I # as the 3 and 2 are related to fashion and my query is also related to fashion? clothing.

array([[6, 7]])

In [47]:
I.tolist()

[[6, 7]]

In [48]:
row_indices = I.tolist()[0]
row_indices

[6, 7]

In [49]:
df.loc[row_indices]

,text,category
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [50]:
search_query

'looking for places to visit during the holidays'